:root{
    --blue : #00d1ff;
    --pink : #ffafcc;
    --dark : #111111;
    --gray-hover : rgb(229, 229, 229);
    --base-font : 'Quicksand', sans-serif;
    --heading-font : 'Roboto Slab', serif;
}
