@import url("./_variables.css");

@import url("./_global.css");

@import url("./_utilities.css");

@import url("./components/_btn.css");
@import url("./components/_text.css");
@import url("./components/_table.css");
@import url("./components/_list.css");
@import url("./components/_menu.css");
@import url("./components/_card.css");
@import url("./components/_form.css");
