.form {
  border: 2px solid black;
  width: 400px;
  padding: 40px;
  margin: 30px auto;
  background-color: white;
}

.input-group {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  margin-bottom: 10px;
}

.input,
.select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border: 2px solid black;
}


.select {
  appearance: none;
  background-size: 25px;
  background-repeat: no-repeat;
  background-image: url("../../image/dropdown.svg");
  background-position: right 7px center;
}

.input-blue,.select-blue{
  border: 2px solid var(--blue);
    color: var(--blue);
}

.select-blue{
  background-image: url("../../image/dropdown-blue.svg");

}

.checkbox{
    accent-color: black ;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    appearance: none;
}

.checkbox:checked{
    /* background-color: red; */
    background-image: url("../../image/check-bold.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}


.checkbox-label{
    font-size: 20px;
}


.btn-right {
  display: block;
  margin-left: auto;
}
