.list {
  list-style-type: none;
  border: 1px solid black;
  width: 200px;
  overflow: hidden;
}

.list-item {
  border-bottom: 1px solid black;
  padding: 10px 15px;
}

.list-item:last-child {
  border-bottom: none;
}

.list-hover .list-item:hover {
  background: var(--gray-hover);
}

.list-item.active {
  background: var(--gray-hover);
}
